@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    --default-border-radius: 5px;
    --default-border: 1px solid #333;
}

.form-container {
    margin: 0 auto;
    max-width: min(50vw, 400px);
    min-width: 300px;
}

.bonus-form {
    border: var(--default-border);
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.bonus-form input {
    border: var(--default-border);
    border-radius: var(--default-border-radius);
    display: block;
    padding: 10px;
    width: 100%;
}

input {
    font-family: "Courier New", Courier, monospace;
}

.bonus-form label > p {
    margin: 0 0 5px 0;
}

.bonus-form input:invalid {
    background-color: rgba(255, 0, 0, 0.2);
}

.bonus-form button {
    background-color: darkslateblue;
    border: var(--default-border);
    border-radius: var(--default-border-radius);
    color: #eee;
    font-size: 120%;
    margin-top: 10px;
    padding: 10px 20px;
}
